<%- include('template/header', {tituloPagina: 'INDEX'}) %>
<body>
    <!--Navbar-->
    <%- include('template/navbar') %>

    <div class="container">
        <a href="/create" class="btn btn-outline-primary mt-4">Crear nuevo trabajador</a>
        <table class="table table-bordered text-center mt-4">
            <thead>
                <tr class="bg-info text-white">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((trabajador) => { %>
                    <tr>
                        <td><%= trabajador.id %></td>
                        <td><%= trabajador.nombre %></td>
                        <td><%= trabajador.cargo %></td>
                        <td>
                            <a href="/detalle/<%= trabajador.id %>" class="btn btn-outline-info">Ver</a>
                            <a href="/edit/<%= trabajador.id %>" class="btn btn-outline-info">Editar</a>
                            <a href="/delete/<%= trabajador.id %>" class="btn btn-outline-danger" onclick="return confirm('Está seguro que desea borrar a: <%= trabajador.nombre %>');">Borrar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include('template/footer') %>